*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, rgb(82, 70, 70), rgb(59, 75, 78));
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container {
    background: linear-gradient(45deg, #1068b6, #ec60a6);
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    display: grid;
    grid-template: 100px 300px 100px 100px / repeat(8, 100px);
    height: 600px;
    margin: 100px auto 0;
    position: relative;
    width: 800px;
}

h1 {
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    grid-area: 1 / 1 / 2 / -1;
    justify-content: center;
}

.bloc-logo-info {
    align-items: center;
    display: flex;
    grid-area: 2 / 1 / 3 / -1;
    justify-content: center;
}

.bloc-logo {
    width: 50%;
}

.bloc-logo img {
    height: auto;
    width: 100%;
}

.bloc-info {
    width: 50%;
}

.bloc-info .temps {
    font-size: 40px;
}

.bloc-info .temps::first-letter {
    text-transform: capitalize;
}

.bloc-info .temperature {
    font-size: 60px;
}

.bloc-info .localisation {
    font-size: 40px;
    word-wrap: break-word;
}

.logo-meteo {
    height: 10px;
    width: 10px;
}